# Name : Purushottam Singh, Refereal ID : DIRSS1116

# Task 1

In [76]:
n = 5
for i in range(n):
    for j in range(n):
        print("5", end=" ")
    n=n-1
    print("\r")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

# Task 2

In [50]:
n=5
for i in range(0,n):
    for j in range(n):
        print(j,end=" ")
    n=n-1
    print("\r")

0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

# Task 3

In [51]:
n=5
num=1
for i in range(n):
    for j in range(i+1):
         print(num,end=" ")
    num=num+2
    print("\r")
    #print("done")

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

# Task 4

In [17]:
n=5
num=1
for i in range(n):
    for j in range(i+1):
        print(num-j,end=" ")
    num=num+1
    print("\r")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

# Task 5

In [15]:
n=4
num=1
for i in range(n):
    for j in range(i+1):
        print(num-j,end=" ")
    num=num+(i+2)
    print("\r")

1
3 2
6 5 4
10 9 8 7

# Task 6

In [81]:
def factorial(n):
    num = 1
    if n == 0:
        return 1
    else:
        for i in range(2,n+1):
            num=num*i
        return num
    
    
def coeff(i,j):
    a = factorial(i)
    b = factorial(j)
    c = factorial(i-j)
    d = a//(b*c)
    return d
                       
n=int(input("Number of Iteration: "))        
for i in range(0,n):
    for j in range(0,i+1):
        print(coeff(i,j),end=" ")                 
    print("\r")

Number of Iteration: 10
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1
1 7 21 35 35 21 7 1
1 8 28 56 70 56 28 8 1
1 9 36 84 126 126 84 36 9 1

# Task 7

In [19]:
n=6
for i in range(1,n):
    for j in range(1,n):
        if i>=j:
            print(i,end="")
        else:
            print(j,end="")
    print("\r")

12345
22345
33345
44445
55555

# Task 8

In [ ]:
n=8
for i in range(1,n):
    for j in range(1,i+1):
        print(j*i,end=" ")
    print("\r")

# Task 9

In [59]:
n=4
for i in range(n,-1,-1):
    for k in range(n,i,-1):
        print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
    print("\r")

* * * * *
 * * * *
  * * *
   * *
    *

# Task 10

In [61]:
n=5
for i in range(0,n):
    for k in range(n,i,-1):
        print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
    print("\r")

     *
    * *
   * * *
  * * * *
 * * * * *

# Task 11

In [25]:
def firstTri(n):
    for i in range(0,n):
        for j in range(i+1):
            print("*",end=" ")
        print("\r")
    
def secondTri(n):
    for i in range(n,0,-1):
        for j in range(i):
            print("*",end=" ")
        print("\r")

firstTri(6)
print()
secondTri(6)

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

# Task 12

In [27]:
def firstTri(n):
    for i in range(0,n):
        for j in range(i+1):
            print("*",end=" ")
        print("\r")
    
def secondTri(n):
    for i in range(n,0,-1):
        for j in range(i):
            print("*",end=" ")
        print("\r")

firstTri(5)
secondTri(4)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Task 13

In [78]:

def firstTri(n):
    for i in range(0,n):
        for k in range(n,i,-1):
            print(" ",end=" ")
        for j in range(i+1):
            print("*",end=" ")
        print("\r")

def secondTri(n):
    for i in range(n,-1,-1):
        for k in range(n,i,-1):
            print(" ",end=" ")
        for j in range(i+1):
            print("*",end=" ")
        print("\r")

firstTri(5)
secondTri(5)

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *
  * * * * *
    * * * *
      * * *
        * *
          *

# Task 14

In [77]:
def firstTri(n):
    for i in range(n,-1,-1):
        for k in range(n,i,-1):
            print(" ",end="")
        for j in range(i+1):
            print("*",end=" ")
        print("\r")
    
def secondTri(n):
    for i in range(0,n):
        for k in range(n-1,i,-1):
            print(" ",end="")
        for j in range(i+1):
            print("*",end=" ")
        print("\r")
    
    
firstTri(4)
secondTri(5)

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

# Task 15